<% form_remote_tag :url=> search_path , :loading=>"$('l').show()", :complete=>"$('l').hide()" do%>
	location: <br/>
	<%= text_field_tag :location, @location %> within <%= select_tag :distance, options_for_select([10, 25, 50]) %>miles
	<%= submit_tag "search"%>	<%= image_tag '/images/acct_loader.gif', :id=>"l", :style=>"display:none; position:absolute; margin-left:10px" %>
<% end%>
<div id="tagline" style="color:#66CCFF;float:right;margin-top:-10px;font-size:7pt;line-height:20px;">
	<b>search the twitters by location</b>
</div>
<div style="clear:both;"></div>
<div id="results" style="overflow: auto; height:340px; border: 1px solid #000">

</div>
<div style="text-align: right; line-height:12px">&copy; 2009 Tyler Montgomery </div>